<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxJ0zRATZHhptiRnWITvmc621ZtMLqZhY</string>
	<key>GCM_SENDER_ID</key>
	<string>382987600618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betsyMobile</string>
	<key>PROJECT_ID</key>
	<string>betsy-91be9</string>
	<key>STORAGE_BUCKET</key>
	<string>betsy-91be9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382987600618:ios:580a2043a6f125f7cf4d93</string>
</dict>
</plist>
